body {
	background-color: #000020;
	margin: 32px;
}

/*body.applet {
	background-color: #EEEEEE;
	margin: 10px;
}*/

div.outer-container {
	background-color: #4040FF;
	border-width: 1px;
	border-color: #8080FF;
	border-style: solid;
	padding: 1px;
}

div.inner-container {
	background-color: #EEEEEE;
	border-width: 1px;
	border-color: #8080FF;
	border-style: solid;
	padding: 16px;
}

div.directions {
	font-size: 110%;
}

div.previous {
	float: left;
}

div.next {
	float: right;
}

div.clear {
	clear: both;
}

div.vspace {
	clear: both;
	height: 16px;
}

a:link {
	color: #4040FF;
}

a:visited {
	color: #8080FF;
}

a:hover {
	color: #808080;
}

a:active {
	color: #404040;
}

img.example {
	display: block;
	margin: 0 auto;
}

audio.example {
	width: 800px;
	display: block;
	margin: 0 auto;
}

p.caption {
	text-align: center;
}

p.equation {
	text-align: center;
}

canvas.keyboard {
	display: block;
	margin: 0 auto;
}

div.metronome {
	text-align: center;
	margin: 0 auto;
	background-color: #DDDDDD;
	padding: 8px;
	width: 270px;
}

div.keyboard {
	text-align: center;
	margin: 0 auto;
	padding: 0px;
	width: 800px;
	height: 800px;
	background-color: #000000;
	position: relative;
}

div.tonegenerator {
	text-align: center;
	margin: 0 auto;
	background-color: #DDDDDD;
	padding: 8px;
	width: 280px;
}

input.metronome-input {
	margin-left: 8px;
	margin-right: 8px;
}

div.hemiola {
	text-align: center;
	margin: 0 auto;
	background-color: #DDDDDD;
	padding: 8px;
	width: 270px;
}

input.hemiola-input {
	margin-left: 8px;
	margin-right: 8px;
}

input.hemiola-input-numerator {
	margin-left: 8px;
	margin-top: 8px;
}

input.hemiola-input-denominator {
	margin-right: 8px;
	margin-top: 8px;
}

ul {
	margin-top: 0px;
}

h1.applet-title {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 300%;
	font-weight: normal;
}